In [1]:
import tensorflow as tf 
import numpy as np 
import pandas as pd 
import pickle
from tensorflow.keras.models import load_model

In [2]:
#loading the pickle files
model = load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
#loading the scalar , and encoders
with open('gender_label.pkl','rb') as file:
    gender_label = pickle.load(file)
   
with open('geo_encoder.pkl','rb') as file:
    geo_encoder = pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [4]:
input_data = {
    "CreditScore":600,
    "Geography": 'France',
    'Gender':'Male',
    'Age': 49,
    'Tenure': 3,
    'Balance':40000,
    'NumOfProducts': 2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary': 50000
}

In [5]:
geo_encoded = geo_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df= pd.DataFrame(geo_encoded,columns=geo_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

a:\Projects\ANN project\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [6]:
input_df= pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,49,3,40000,2,1,1,50000

In [7]:
input_df=pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

In [8]:
input_df['Gender']=gender_label.transform([input_data['Gender']])

In [9]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,49,3,40000,2,1,1,50000,1.0,0.0,0.0

In [10]:
input_df.drop('Geography',axis=1,inplace=True)

In [11]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,49,3,40000,2,1,1,50000,1.0,0.0,0.0

In [12]:
input_df.drop(['Geography_France','Geography_Spain','Geography_Germany'],axis=1,inplace=True)

In [13]:
geo_encoded = geo_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df= pd.DataFrame(geo_encoded,columns=geo_encoder.get_feature_names_out(['Geography']))
input_df=pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

a:\Projects\ANN project\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [14]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,49,3,40000,2,1,1,50000,1.0,0.0,0.0

In [15]:
#scalingin
input_scaled = scaler.transform(input_df)

In [16]:
#model pridiction
prediction=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step

In [17]:
if prediction>0.5:
    print('The person is likely to churn')
else:
    print("The person is not likely to churn")

The person is not likely to churn